:root {
  --color-primario: #333;
  --color-secundario: #fff;
  --color-destacado: #ffcc00;
  --color-fondo-claro: #f4f4f4;
  --color-borde: #ccc;
  --color-fondo-galeria: #fff;
  --color-texto: #000; 
}

html {
  scroll-behavior: smooth;
}

/* Barra de navegación */
body {
  margin: 0;
  padding: 0;
  font-family: 'Abel', sans-serif;
}

header {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  text-align: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: var(--color-secundario);
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: var(--color-destacado);
}

section {
  text-align: center;
  padding: 50px 0;
}

/* Logo */
.logo {
  width: 40px;
  height: auto;
}

/* Sección Hero - Primera sección */
.hero-section {
  padding: 100px 0;
  background-color: var(--color-fondo-claro);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

.text-content {
  text-align: left;
  margin-left: 20px;
}

.text-content h2 {
  margin-bottom: 10px;
}

.description {
  text-align: justify;
  max-width: 500px;
  border: 1px solid var(--color-borde);
  padding: 10px;
  overflow: hidden;
  max-height: 200px;
  overflow-y: auto;
}

/* Galería de proyectos */
.gallery-section {
  padding: 50px 0;
  background-color: var(--color-fondo-galeria);
  text-align: center;
}

.image-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.image-gallery img {
  width: 500px;
  height: 250px;
  border-radius: 5px;
  margin-bottom: 20px;
  transition: transform 1s ease;
}

.image-gallery img:hover {
  transform: scale(1.2);
}

/* Sección de Servicios */
.services-section {
  padding: 50px 0;
  text-align: center;
}

.service-card {
  width: 250px;
  height: 300px;
  margin: 20px;
  padding: 20px;
  border: 1px solid var(--color-borde);
  border-radius: 5px;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.services-section:hover .service-card {
  opacity: 1;
}

.service-card img {
  width: 70px;
  height: 60px;
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.service-card h3,
.service-card p {
  margin: 0;
}

/* Sección de Habilidades / Barras de progreso */
.skill-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

.skill {
  margin-bottom: 20px;
}

.progress-bar {
  width: 200px;
  height: 20px;
  background-color: #ddd;
  border-radius: 10px;
  overflow: hidden;
  margin: 30px;
}

.progress {
  height: 100%;
  width: 0;
  border-radius: 10px;
  animation: progressAnimation 5s ease-in-out forwards infinite;
}

.html-progress {
  background-color: #3498db;
  animation-name: htmlProgressAnimation;
}

.css-progress {
  background-color: #e74c3c;
  animation-name: cssProgressAnimation;
}

.js-progress {
  background-color: #f4d03f;
  animation-name: jsProgressAnimation;
}

.php-progress {
  background-color: #9b59b6;
  animation-name: phpProgressAnimation;
}

/* Animación de las barras de habilidades */
@keyframes progressAnimation {
  to {
    width: 100%;
  }
}

@keyframes htmlProgressAnimation {
  to {
    width: 85%;
  }
}

@keyframes cssProgressAnimation {
  to {
    width: 65%;
  }
}

@keyframes jsProgressAnimation {
  to {
    width: 75%;
  }
}

@keyframes phpProgressAnimation {
  to {
    width: 50%;
  }
}

/* Sección de Testimonios */
.testimonials {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.testimonial {
  position: relative;
  margin-bottom: 20px;
  padding: 35px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: url('') center center no-repeat;
  background-size: cover;
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
  width: 48%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.testimonials:hover .testimonial {
  opacity: 1;
  transform: translateY(0);
}

.testimonials h2 {
  width: 100%;
}

.testimonial-content {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.testimonial img {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  max-width: 50px;
}

.testimonial p {
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
}

.testimonial .author {
  margin-top: auto;
  padding: 20px;
  font-weight: bold;
}

/* Sección de Contacto */
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 0;
}

.contacto h2 {
  margin-bottom: 20px;
}

form {
  background-color: #333;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  width: 400px;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
  font-size: 14px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

button {
  background-color: var(--color-destacado);
  color: #fff;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #705a01;
}

/* Pie de página */
footer {
  background-color: var(--color-primario);
  color: var(--color-secundario);
  padding: 1em;
  text-align: center;
}
